<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Import Documents</title>
    <link rel='stylesheet' href='/stylesheets/style.css'> <!-- Link to your stylesheet -->
</head>
<body>
    <div class='container'>
        <h1>Text Mining Lab</h1>
        <h2>Import Original Data to Corpus Documents </h2>
        <p></p>
        <div class='record-details'>
            <p><strong><a href='javascript: history.back()'>Back to Home</a></strong></p>
        </div>
        <div class='record-details'>
            <p>-------------------</p>
            <div class='record-details'>
                <p><%- feedbackLog %></p>
            </div>
        </div>
    </div>
</body>
</html>
