<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Text Mining App</title>
    <link rel='stylesheet' href='/stylesheets/style.css'> <!-- Link to your stylesheet -->
</head>
<body>
    <div class='container'>
        <h1>Text Mining App</h1>
        <h2>Hotel Reviews</h2>
        
        <div class='record-details'>
            <p><strong><a href='/routes/corpus/happy'>Positive Reviews</a></strong></p>
        </div>
        <div class='record-details'>
            <p><strong><a href='/routes/corpus/not happy'>Negative Reviews</a></strong></p>
        </div>
        <div class='record-details'>
            <p>-------------------</p>
        </div>
        <div class='record-details'>
            <p><strong><a href='/routes/importDocuments'>Import Documents</a></strong></p>
        </div>

    </div>
</body>
</html>
