<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Text Mining Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css'> <!-- Link to your stylesheet -->
</head>
<body>
    <div class='container'>
        <h1>Text Mining Lab</h1>
        <h2>Hotel Reviews</h2>
        
        <div class='record-details'>
            <p><strong><a href='/corpus/list/happy'>Positive Reviews</a></strong></p>
        </div>
        <div class='record-sub-details'>
            <p><strong><a href='/trainingset/list/happy'>Positive Training Set</a></strong></p>
        </div>
        <div class='record-details'>
            <p><strong><a href='/corpus/list/not happy'>Negative Reviews</a></strong></p>
        </div>
        <div class='record-sub-details'>
            <p><strong><a href='/trainingset/list/not happy'>Negative Training Set</a></strong></p>
        </div>
        <div class='record-details'>
            <p>-------------------</p>
        </div>
        <div class='record-details'>
            <p><strong><a href='/corpus/importDocuments'>Import Documents</a></strong></p>
        </div>
        <div class='record-details'>
            <p><strong><a href='/trainingset/createall'>Create Training Set</a></strong></p>
        </div>

    </div>
</body>
</html>
